In [1]:
import pandas as pd

In [32]:
rels = pd.read_csv("Relationships_2010to2020/RelationshipFiles_TX_2010to2020.csv", sep='|')
TractList = pd.read_excel("TractList_BR_2019.xlsx")

In [33]:
merged = pd.merge(TractList, rels, left_on="Geoid", right_on="GEOID_TRACT_10")

In [34]:
result = merged[['Neighborhood', 'GEOID_TRACT_20']]
result.rename(columns={'GEOID_TRACT_20':'Geoid'}, inplace=True)
result['Geoid'] = result['Geoid'].astype(str)
result['Tractce'] = result['Geoid'].str[5:]
result

C:\Users\tharry\Anaconda3\lib\site-packages\pandas\core\frame.py:4441: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(
<ipython-input-34-0fdcd712fccf>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  result['Geoid'] = result['Geoid'].astype(str)
<ipython-input-34-0fdcd712fccf>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  result['Tractce'] = result['Geoid'].str[5:]

    Neighborhood        Geoid Tractce
0       Pasadena  48201320800  320800
1       Pasadena  48201320901  320901
2       Pasadena  48201320902  320902
3       Pasadena  48201321401  321401
4       Pasadena  48201321401  321401
..           ...          ...     ...
113     East End  48201311400  311400
114     East End  48201311502  311502
115     East End  48201311501  311501
116     East End  48201311502  311502
117     East End  48201311600  311600

[118 rows x 3 columns]

In [37]:
with pd.ExcelWriter('TractList_BR_2020.xlsx') as writer:  
    result.to_excel(writer, sheet_name="TractList", header=True)

In [36]:
result.to_csv("TractList_BR_2020.csv")